# Ebola Cases and Deaths
---
## Table of Content
* [Data](#data)
    * [~ Collection](#data_collection)

<a id='data'></a>

### Data

<blockquote>

The dataset contains data of Ebola cases and deaths recorded over the past couple of years. Over various countries of whether they where confirmed, probable or suspected cases/deaths of Ebola on the day it was recorded along with number of people affect.

</blockquote>

In [1]:
import pandas as pd
import re

<a id='data_collection'></a>
#### Data Collection
> We read the data into a DataFrame before we can start working on it.

In [2]:
ebola = pd.read_csv('ebola_data_db_format.csv')

In [10]:
ebola.head()

,Indicator,Country,Date,value
0,"Cumulative number of confirmed, probable and s...",Guinea,2015-03-10,3285.0
1,Cumulative number of confirmed Ebola cases,Guinea,2015-03-10,2871.0
2,Cumulative number of probable Ebola cases,Guinea,2015-03-10,392.0
3,Cumulative number of suspected Ebola cases,Guinea,2015-03-10,22.0
4,"Cumulative number of confirmed, probable and s...",Guinea,2015-03-10,2170.0

<p style="font-family: Helevicta; font-size:1.4em;color:gold;"> Golden </p>

In [12]:
print(ebola.shape)
print(ebola.columns)

(17585, 4)
Index(['Indicator', 'Country', 'Date', 'value'], dtype='object')

In [4]:
ebola.isnull().sum()

Indicator    0
Country      0
Date         0
value        0
dtype: int64

In [6]:
country = ebola.Country.tolist()
date = ebola.Date.tolist()
value = ebola.value.tolist()
measure = [m.split(' ')[0] for m in ebola.Indicator]
case = ['cases' if 'cases' in c else 'deaths' for c in ebola.Indicator]
types = ['total' if (('confirmed' in t) and ('probable' in t) and ('suspected' in t)) else 'confirmed' if 'confirmed' in t
                    else 'probable' if 'probable' in t else 'suspected' for t in ebola.Indicator]

duration = []
for d in ebola.Indicator:
    try:
        isinstance([int(a) for a in re.findall(r'\b\d+\b', d)][0], int)
        duration.append([int(a) for a in re.findall(r'\b\d+\b', d)][0])
    except:
        duration.append('Lifetime')

In [7]:
df = pd.DataFrame({'measure':measure,'case':case,'types':types,'duration':duration,'country':country,'date':date,'value':value})

In [8]:
df.head()

      measure    case      types  duration country        date   value
0  Cumulative   cases      total  Lifetime  Guinea  2015-03-10  3285.0
1  Cumulative   cases  confirmed  Lifetime  Guinea  2015-03-10  2871.0
2  Cumulative   cases   probable  Lifetime  Guinea  2015-03-10   392.0
3  Cumulative   cases  suspected  Lifetime  Guinea  2015-03-10    22.0
4  Cumulative  deaths      total  Lifetime  Guinea  2015-03-10  2170.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17585 entries, 0 to 17584
Data columns (total 7 columns):
measure     17585 non-null object
case        17585 non-null object
types       17585 non-null object
duration    17585 non-null object
country     17585 non-null object
date        17585 non-null object
value       17585 non-null float64
dtypes: float64(1), object(6)
memory usage: 961.8+ KB